:root {
    --el-color-primary: #34c9ee;
    --el-border-color:var(--el-color-primary);
    --el-text-color-regular:var(--el-color-primary)
    --el-text-color-regular:#fff;
    --el-fill-color-blank:transparent;
  }