:root {
    --el-color-primary: #34c9ee;
    --el-color-primary-light-7:#34c9ee7b;
    --el-color-primary-light-9:#34c9ee4a;
    --el-border-color:var(--el-color-primary);
    --el-text-color-regular:var(--el-color-primary)
    --el-text-color-regular:#fff;
    --el-fill-color-blank:transparent;
    --el-tag-border-color:var(--el-color-primary);
    --el-border-color-light:#34c9ee61;
    --el-slider-button-size:15px;
    --el-bg-color-overlay:#142f49dc;
  }

  .el-slider__button{
    background-color:var(--el-color-primary);
  }
  .el-popover.el-popper,.el-popover__title{
    color: var(--el-color-primary);
  }